       #map {
         position: absolute;
         left: 100px;
         top: 100px;

         width: 50%;
       }

       .draggable .resizeable {
         display: inline;
         position: absolute;
       }

       button {
           margin: 30px;
       }
       
       .draggable {
           visibility: hidden;
       }





p { color: red; }

table td {
    border: 1px solid black;
}
/*  
body {
    background-color: #FFF7e9;
}
*/
h1 {
    font-weight: bold;
    border: 10px solid orange;
    text-align: center;
}

a {
    text-decoration: none;
}
